@tailwind base;
@tailwind components;
@tailwind utilities;


input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="tel"],
textarea {
  @apply w-full border my-1 py-2 px-3 rounded-2xl;
}

textarea {
  height: 140px;
}

button {
  @apply bg-gray-300
}

button.primary {
  background-color: #ff385c;
  @apply p-2 w-full text-white rounded-2xl;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background-color: transparent;
  /* Matches your background color */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
  /* Semi-transparent thumb */
  border-radius: 3px;
}